<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= campground.name %></h1>
        <div style="width: 50%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Campground Name</label>
                    <input class="form-control" type="text" name="name" value="<%= campground.name %>">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" min="0.00" step="0.01" value=<%= campground.price %>>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
                </div>
                <div class="form-group">
                    <label for="image">Image URL</label>
                    <input id="1" style="" class="form-control" type="text" name="image1" value="<%= campground.image1 %>">
                    <input id="2" style="display: none" class="form-control" type="text" name="image2" value="<%= campground.image2 %>">
                    <input id="3" style="display: none" class="form-control" type="text" name="image3" value="<%= campground.image3 %>">
                    <div class="btn-group">
                        <button id="b1" onclick="changeTo1()" type="button" name="image1" class="btn btn-primary btn-xs">Image 1</button>
                        <button id="b2" onclick="changeTo2()" type="button" name="image2" class="btn btn-primary btn-xs">Image 2</button>
                        <button id="b3" onclick="changeTo3()" type="button" name="image3" class="btn btn-primary btn-xs">Image 3</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" value="<%= campground.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
                <div class="form-group back_btn">
                    <a class="btn btn-xs btn-info" href="/campgrounds">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function changeTo1() {
        document.getElementById("1").style = "";
        document.getElementById("2").style = "display:none";
        document.getElementById("3").style = "display:none";
    }
        function changeTo2() {
        document.getElementById("1").style = "display:none";
        document.getElementById("2").style = "";
        document.getElementById("3").style = "display:none";
    }
        function changeTo3() {
        document.getElementById("1").style = "display:none";
        document.getElementById("2").style = "display:none";
        document.getElementById("3").style = "";
    }
</script>

<% include ../partials/footer %>