<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li id="1" class="list-group-item active">Image 1</li> 
                <li id="2" class="list-group-item">Image 2</li>
                <li id="3" class="list-group-item">Image 3</li>
            </div>
            <div id="map">
                
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img id="image" class="image-responsive" src="<%=campground.image1%>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%=campground.price%>/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted <%= moment(campground.createdAt).fromNow() %> by  <a href="/user/<%= campground.author.id %>"><%= campground.author.username %></a></em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well well-lg">
                <div class="row">
                    <span class="comment_count"><strong><%= campground.commentCount %> Comments</strong></span>

                    <a class="btn btn-success btn-sm text_right" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12 well well-sm">
                            <a href="/user/<%= comment.author.id %>"><strong><%= comment.author.username %></strong></a> 
                            <span class="pull-right"><em><%=moment(comment.createdAt).fromNow() %></em></span>
                            <p id="comment_text">
                                <%=comment.text%>
                            </p>
                            <div id="edit_del_btns">
                                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                    <a class="btn btn-xs btn-warning"
                                        href="/campgrounds/<%=campground._id %>/comments/<%=comment._id%>/edit">
                                        Edit
                                    </a>
                                    <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                <% } %>                                
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        $("#1").click(function() {
            $("#1").addClass("active");
            $("#2").removeClass("active");
            $("#3").removeClass("active");
            $("#image").attr("src", "<%=campground.image1%>");
        });

        $("#2").click(function(){
            $("#1").removeClass("active");
            $("#2").addClass("active");
            $("#3").removeClass("active");
            $("#image").attr("src", "<%=campground.image2%>");
        });
        
        $("#3").click(function(){
            $("#1").removeClass("active");
            $("#2").removeClass("active");
            $("#3").addClass("active");
            $("#image").attr("src", "<%=campground.image3%>");
        });
    });
    
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
          <strong><%= campground.name %><br />
          <%= campground.location %></strong>
          <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }



</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFtRcE-kM382CIXmP25-ckkPnktSkpG4Y&callback=initMap"></script>

<% include ../partials/footer %>